# CareDose+ Environment Variables - Copy to .env and fill in values
VITE_GOOGLE_FIT_CLIENT_ID=773546090775-m6397lr6kkft8rjllv7c7afrjgkn5fki.apps.googleusercontent.com
VITE_FIREBASE_VAPID_KEY=BMKSTy5-gI0TekT8EW7X4yYiM9yNDBPYfiqM_lapUFqMjPFm44_b7hMI7OR1AYRyZJWbnt_5Nv7_TSignaw9Wdo
VITE_FITBIT_CLIENT_ID=23V6R6
